apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminfront
  labels:
    app: admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
      - name: admin-app-dev
        image: raniamidaoui/admin-app
        ports:
        - containerPort: 80
